{% extends 'layout.html' %}
{% block title %}


Добавить комментарий к записи


{% endblock %}





{% block content %}


<div class="menu">
    {% if not data.userLogged %}
    <a class="log" href="{{url_for('login')}}">Войти или зарегистрироваться</a>
    {% else %}
    <a href="{{url_for('index')}}" class="username logout">Главная страница</a>
    <p class="username">Пользователь: {{data.userName}}</p>
    <a href="{{url_for('logout')}}" class="username logout">Выйти из аккаунта</a>
    <a href="{{url_for('profile')}}" class="username logout">Мой профиль</a>
    {% endif %}
    

</div>


<div class="container">
    <form method="post" class="form" action="">

        <textarea class="inputform" name="text"></textarea>

        <button type="submit" class="add addnew">Сохранить комментарий</button>

    </form>
    <a class="back" href="{{ url_for('detailview', id=id) }}">Вернуться</a>

    {% for i in get_flashed_messages() %}
    <div class="error">{{i}}</div>
    {% endfor %}


</div>



{% endblock %}