{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="menu">
    {% if not data.userLogged %}
    <a class="log" href="{{url_for('login')}}">Войти или зарегистрироваться</a>
    {% else %}
    <p class="username">Пользователь: {{data.userName}}</p>
    <a href="{{url_for('logout')}}" class="username logout">Выйти из аккаунта</a>
    <a href="{{url_for('profile')}}" class="username logout">Мой профиль</a>
    {% endif %}
    <a href="{{url_for('index')}}" class="username logout">Главная страница</a>

</div>

<div class="container container-detail">



    <h4 class="name">{{article[1]}}</h4><br>
    <a href="{{url_for('otherprof', username=auth)}}" class="authh">Автор: {{auth}}</a>
    <p class="text">{{article[2]}}</p>
    <a class="add detail-back" href="/">Назад</a>
    <a class="add detail-back" href="{{url_for('add_comment', id=article[0])}}">Добавить комментарий</a>
    <div class="comments">

        <h2 class="headcom">Комментарии: {{leng}}</h2>


        {% for comment in comments %}

        <div class="comment">
            <p class="cname">Автор: {{comment[2]}}</p>
            <p class="ctext">{{comment[3]}}</p>

            {% if comment[2]==data.userName %}
            <a class="view-btn del" href="{{ url_for('delcom', id=comment[0]) }}">Удалить</a>
            <a class="view-btn upd" href="{{ url_for('updcom', id=comment[0]) }}">Редактировать</a>
            {% endif %}
        </div>

        {% endfor %}


    </div>






</div>

{% endblock %}