{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="menu">
    {% if not session.userLogged %}
    <a class="log" href="{{url_for('login')}}">Log in or register</a>
    {% else %}
    <a href="{{url_for('index')}}" class="username logout">Home page</a>
    <p class="username">User: {{session.userName}}</p>
    <a href="{{url_for('logout')}}" class="username logout">Logout</a>
    <a href="{{url_for('profile')}}" class="username logout">My profile</a>
    {% endif %}
    

</div>

<div class="container container-detail">



    <h4 class="name">{{article[1]}}</h4><br>
    <a href="{{url_for('otherprof', username=auth)}}" class="authh">Author: {{auth}}</a>
    <p class="text">{{article[2]}}</p>
    <a class="add detail-back1" href="/">Go back</a>
    <a class="add detail-back" href="{{url_for('add_comment', id=article[0])}}">Add a comment</a>
    <div class="comments">

        <h2 class="headcom">Comments: {{leng}}</h2>


        {% for comment in comments %}

        <div class="comment">
            <p class="cname">Author: {{comment[2]}}</p>
            <p class="ctext">{{comment[3]}}</p>

            {% if comment[2]==session.userName %}
            <a class="view-btn del" href="{{ url_for('delcom', id=comment[0]) }}">Delete</a>
            <a class="view-btn upd" href="{{ url_for('updcom', id=comment[0]) }}">Edit</a>
            {% endif %}
        </div>

        {% endfor %}


    </div>






</div>

{% endblock %}