{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="menu">
    {% if not data.userLogged %}
    <a class="log" href="{{url_for('login')}}">Войти или зарегистрироваться</a>
    {% else %}
    <p class="username">Пользователь: {{data.userName}}</p>
    <a href="{{url_for('logout')}}" class="username logout">Выйти из аккаунта</a>
    <a href="{{url_for('profile')}}" class="username logout">Мой профиль</a>
    {% endif %}

</div>

<div class="container container-detail">



    <h4 class="name">{{article[1]}}</h4><br>
    <p class="text">{{article[2]}}</p>
    <a class="add" href="/">Назад</a>






</div>

{% endblock %}