{% extends 'layout.html' %}

{% block title %}
Ваш профиль
{% endblock %}

{% block content %}

<div class="menu">
    {% if not data.userLogged %}
    <a class="log" href="{{url_for('login')}}">Войти или зарегистрироваться</a>
    {% else %}
    <a href="{{url_for('index')}}" class="username logout">Главная страница</a>
    <p class="username">Пользователь: {{data.userName}}</p>
    <a href="{{url_for('logout')}}" class="username logout">Выйти из аккаунта</a>
    <a href="{{url_for('profile')}}" class="username logout">Мой профиль</a>
    {% endif %}
    

</div>



<div class="container">
    {% if img %}
    <img src="data:image/jpg;base64,{{ img }}" alt="твоё фото" class="photo">
    {% else %}
    <img src="{{url_for('static', filename='photo.jpg')}}" alt="твоё фото" class="photo">
    {% endif %}

    <form action="" method="post" class="form-photo" enctype="multipart/form-data">
        <label>Сменить фото профиля</label><input type="file" name="image">
        <button type="submit" class="add addnew">Сохранить фото</button>


    </form>
    <a href="{{ url_for('uploadimg', username=data.userName) }}" class="add prof">скачать картинку профиля</a>
    {% for i in get_flashed_messages() %}
    <div class="error">{{i}}</div>
    {% endfor %}
    <p class="name">Вы {{data.userName}}, и вы написали {{leng}} статей</p>

{% for i in articles %}
<div class="new">
    <h4 class="name">{{i[1]}}</h4><br>
    <h2 class="name auth">Автор: {{i[3]}}</h2>
    <p class="text">{{i[2]}}</p>

    <a class="view-btn" href="{{ url_for('detailview', id=i[0]) }}">Смотреть и читать комментарии</a>
    {% if data.userName==i[3] %}
    <a class="view-btn del" href="{{ url_for('delete', id=i[0]) }}">Удалить</a>
    <a class="view-btn upd" href="{{ url_for('update', id=i[0]) }}">Редактировать</a>
    {% endif %}
</div>
{% endfor %}

    {% if data.userLogged %}
    <a class="add" href="{{url_for('add')}}">Добавить</a>
    {% endif %}
   


</div>

{% endblock %}