{% extends 'layout.html' %}
{% block title %}


Edit an article


{% endblock %}





{% block content %}


<div class="menu">
    {% if not session.userLogged %}
    <a class="log" href="{{url_for('login')}}">Log in or register</a>
    {% else %}
    <a href="{{url_for('index')}}" class="username logout">Home page</a>
    <p class="username">User: {{session.userName}}</p>
    <a href="{{url_for('logout')}}" class="username logout">Logout</a>
    <a href="{{url_for('profile')}}" class="username logout">My profile</a>
    {% endif %}
    

</div>


<div class="container">
    <form method="post" class="form" action="">
        <p><input type="text" name="header" class="inputform inputname" value="{{ article[1] }}"></p><br>
        <textarea class="inputform" name="text">{{ article[2] }}</textarea>

        <button type="submit" class="add addnew">Save</button>

    </form>
    <a class="back" href="{{ url_for('index') }}">Go back</a>

    {% for i in get_flashed_messages() %}
    <div class="error">{{i}}</div>
    {% endfor %}


</div>



{% endblock %}